body {
    text-align: center;
    background-color: lightslategrey;
}

a {
    text-decoration: none;
    color: aliceblue;
    border: 2px solid white;
    padding: 3px;
    font-family: 'Basis Grotesque Pro', sans-serif;
}

h1 {
    color: white;
    font-family: 'Basis Grotesque Pro', sans-serif;
}