a:hover {
    color: deepskyblue;
}

a {
    color: lightseagreen;
}



#divTittel {
    position: relative;
    top: 50px;
    color: darkgoldenrod;
    float: right;
}

#divTittel1 {
    float: left;
}

#divTittel2 {
    float: right;
}

#htmlp {
    width: 200px;
    height: 100px;
}

#bodyp {
    width: 200px;
    height: 100px;
}

#css {
    float: right;
    border-top: 1px dashed springgreen;
    border-bottom: 1px solid blue;
    border-left: 1px dotted yellow;
    border-right: 1px solid orange;
}

#javascript {
    border-bottom: 2px solid whitesmoke;
}

#easy {
    background-image: url(./IMG_3169.png);
}

#javascriptTitteldiv {
    color: orangered;
    float: right;
}

#javascriptTittel {
    float: right;
}

#javascriptKnapp {
    position: relative;
    left: 90px;
}

#javascriptCSS {
    position: relative;
    top: 50px;
}

#cssBody {
    background-image: url(./IMG_3170\ Liten.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#cssDiv {
    color: springgreen;
    position: relative;
    text-align: center;
}

#cssFarge {
    color: cyan !important;
}

#cssFont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

#cssLink:hover {
    color: black !important;
}

#cssLink {
    color: blueviolet;
}

#cssLære {
    border-bottom: 2px dotted white;
}

#javascripStartside {
    border-bottom: 2px dashed white;
    position: relative;
    top: 50px;
}

#javascriptCSS {
    border-bottom: 2px solid white;
}

/*    text-align:right; */

#javascriptKnapp {
    background-color: brown;
    color: white;
}